:root {
  --clr-primary-400: hsl(228, 39%, 23%);

  --clr-neutral-900: hsl(232, 12%, 13%);
  --clr-neutral-100: hsl(0, 0%, 100%);

  --ff-primary: 'Gugi', cursive;
  --ff-secondary: 'Inter', sans-serif;
  --ff-third: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  --ff-body: var(--ff-primary);
  --ff-heading: var(--ff-primary);

  --fs-primary-heading: 5.5rem;
  --fs-secondary-heading: 3.1rem;
  --fs-text: 1.7rem;

  --fw-light: 100;
  --fw-regular: 400;
  --fw-semi-bold: 500;
  --fw-bold: 700;
  --fw-heavy: 900;

  --fs-button: 1rem;

  --size-100: 0.4rem;
  --size-200: 0.8rem;
  --size-300: 1.2rem;
  --size-400: 1.6rem;
  --size-500: 2rem;
  --size-600: 3.2rem;
  --size-700: 4.8rem;
  --size-800: 6.4rem;
  --size-900: 8rem;

  --real100vh: 100vh;
}

* Box sizing rules */ *,
*::before,
*::after {
  box-sizing: border-box;
}

/* Set 1rem equal to 10px */
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

/* Remove default margin, padding, and reset fonts */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

li {
  list-style: none;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Utility Classes */
.anchor {
  text-decoration: none;
}

/* Nav */
.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10rem;
}

.logo-title-wrapper {
  display: flex;
  align-items: center;
}

.title {
  font-family: 'Bebas Neue', cursive;
  font-size: 4rem;
  margin-top: 2rem;
}

.home-pg-logo {
  width: 10rem;
  flex-basis: 0.5;
  padding-top: 1rem;
  padding-left: 1rem;
  margin-right: 2rem;
  cursor: pointer;
}

.wing-fiesta-title {
  display: none;
}

.nav-links-wrapper {
  display: flex;
  gap: 2rem;
  font-size: 1.6rem;
  flex-basis: 1;
  padding-right: 2rem;
}

.nav-links-wrapper a {
  text-decoration: none;
  color: #000;
  font-weight: 400;
  font-family: 'Inter', sans-serif;
  outline: none;
}

.nav-links-wrapper a:hover {
  border-bottom: 2px solid orangered;
  transition: 0.1s;
}
.nav-links-wrapper li:nth-child(6) a {
  font-weight: 700;
  border: 2px solid #e80000;
  padding: 0.5rem;
  background-color: gold;
  color: #000;
  border-radius: 4px;
}

.hamburger-icon {
  display: none;
  cursor: pointer;
  padding: 0.6rem;
}

.hamburger-icon:hover {
  background-color: lightgray;
  padding: 0.6rem;
  border-radius: 25px;
  transition: 0.2s;
}

.bag-wrapper {
  position: relative;
}

.bag-icon {
  font-size: 2.5rem;
  cursor: pointer;
  transition: all 0.2s;
}

.bag-icon:hover {
  opacity: 60%;
}

.bag-order-count {
  width: 2.4rem;
  height: 2.4rem;
  background-color: orangered;
  position: absolute;
  top: -1rem;
  right: -1.1rem;
  border-radius: 2ch;
  text-align: center;
  color: #fff;
  /* font-weight: 900; */
  font-family: Arial, Helvetica, sans-serif;
}

.remove {
  display: none;
}

.show {
  display: block;
}

/* Order Content */
.order-container {
  --max-width: 1110px;
  --padding: 1rem;
  width: min(var(--max-width), 95% - (var(--padding) * 1));
  margin-inline: auto;
  /* max-height: 100%; */
  background-color: #fff;
  margin-block-start: 4rem;
  display: grid;
  gap: 3rem;
  grid-template-columns: 1fr 1fr 1.1fr;
  grid-template-areas: 'box1 box1 box2';
}

.order-info-add-ons-container {
  grid-area: box1;
}

.order-info-wrapper {
  padding-block-start: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  border: 1px solid #000;
  margin-block-end: 4rem;
}

.order-items {
  font-size: 1.7rem;
  padding-left: 2rem;
  margin-block-end: 5rem;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 2.6rem;
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 0.1rem;
  margin-bottom: 1rem;
}

.order-count-wrapper {
  display: flex;
  background-color: lightgray;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem 1rem 1.5rem;
  font-size: 1.7rem;
  font-weight: 700;
  margin-block-end: 2rem;
  position: relative;
}

.order-count-wrapper div {
  display: flex;
  align-items: center;
  font-family: 'Inter', sans-serif;
  gap: 5rem;
}

.order-minus-btn,
.order-plus-btn {
  border: 0;
  background-color: lightgray;
  cursor: pointer;
}

.order-count {
  position: absolute;
  left: 4.5rem;
}

.add-ons-wrapper {
  min-width: 10rem;
  background: -webkit-linear-gradient(
    90deg,
    rgb(231, 71, 14) 0%,
    hsla(58, 100%, 68%, 1) 100%
  );
  border: 1px solid #000;
  min-height: 4rem;
  position: sticky;
  left: 50%;
  align-self: flex-start;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  font-size: 1.8rem;
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 0.1rem;
  margin-block-end: 2rem;
}

.order-add-ons-container {
  background-color: #ffba0b;
  max-width: 100%;
  height: 27rem;
  overflow-x: scroll;
  display: flex;
  align-items: center;
  gap: 2rem;
  padding-right: 2rem;
  padding-left: 2rem;
  position: relative;
  border-radius: 10px;
}

.add-on-cards {
  min-width: 30rem;
  height: 90%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.add-ons-info-wrapper {
  display: flex;
  gap: 2rem;
  font-size: 1.8rem;
  font-family: Arial, Helvetica, sans-serif;
}

.add-ons-info-wrapper img {
  width: 14rem;
  height: 14rem;
  margin: 1rem 0 0 1rem;
}

.add-ons-info-wrapper div {
  margin-block-start: 1rem;
  padding-right: 0.5rem;
}

.add-ons-info-wrapper div p:first-of-type {
  font-weight: 900;
}

.add-ons-info-wrapper div p:nth-of-type(3) {
  font-size: 1.5rem;
}

.add-ons-btns-wrapper {
  display: flex;
  justify-content: center;
}

.add-ons-cards-btns {
  font-size: 1.6rem;
  align-self: center;
  background-color: #c1121f;
  color: #fff;
  font-family: 'Bebas Neue', cursive;
  font-family: 'Inter', sans-serif;
  letter-spacing: 0.1rem;
  padding: 0.5rem 2.5rem 0.5rem 2.5rem;
  cursor: pointer;
}

.check-out-info-container {
  grid-area: box2;
  border: 1px solid #000;
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
  padding-right: 1rem;
  font-family: Arial, Helvetica, sans-serif;
}

.location-info-wrapper,
.order-time-wrapper,
.promo-code-wrapper,
.order-total-wrapper {
  /* height: 25%; */
  width: 100%;
  border-bottom: 2px solid lightgray;
}

.location-info-wrapper {
  height: 35%;
}
.order-time-wrapper {
  height: 15%;
}
.promo-code-wrapper {
  height: 15%;
  font-size: 1.8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.promo-code-wrapper p {
  font-weight: 700;
}

.order-total-wrapper {
  height: 35%;
  font-size: 1.7rem;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

.order-prices div {
  display: flex;
  justify-content: space-between;
}

.subtotal,
.tax,
.total {
  font-weight: 500;
}

.location-info-wrapper {
  font-family: Arial, Helvetica, sans-serif;
  margin-block-start: 1rem;
}

.location-info-wrapper p:nth-of-type(1) {
  font-size: 1.8rem;
  font-weight: 700;
  margin-block-end: 1rem;
}

.location-info-wrapper p:nth-of-type(2),
p:nth-of-type(3),
p:nth-of-type(4) {
  font-size: 1.7rem;
  padding-left: 2rem;
}

.location-info-wrapper p:nth-of-type(5) {
  font-size: 1.6rem;
  padding-left: 2rem;
  margin-block-start: 1.5rem;
}

.order-time-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-block-start: 1.5rem;
  font-size: 1.8rem;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
}

.order-time-form {
  display: flex;
  gap: 1rem;
}

input[type='radio'] {
  width: 1em;
  height: 1em;
}

.order-total-wrapper {
  border-bottom: none;
}

.promo-code-input-wrapper {
  display: flex;
  /* flex-direction: column; */
}

.promo-code-input-wrapper input {
  outline: none;
  padding-left: 0.5rem;
}

.promo-code-btn {
  width: 2.5rem;
  background-color: #c1121f;
  color: #fff;
  border: none;
  cursor: pointer;
}

.checkout-btn {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  background-color: #c1121f;
  color: #fff;
  cursor: pointer;
  font-size: 2.2rem;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  font-family: 'Bebas Neue', cursive;
  margin-block-start: 1rem;
}

.checkout-btn-item-count {
  background-color: #fff;
  color: #000;
  width: 3.2rem;
  height: 3.2rem;
  border-radius: 20rem;
}

@media (min-width: 1300px) {
  .title {
    font-size: 5rem;
    background-color: #fff;
  }
  body {
    background: url(confetti-g3cea2d32d_1920.png) center no-repeat;
    background-size: cover;
    background-position: 50% 50%;
  }

  .nav-container {
    background-color: #fff;
  }

  .nav-links-wrapper {
    font-size: 1.9rem;
  }
}

@media (max-width: 1220px) {
  .menu-items-container {
    width: min(var(--max-width), 90% - (var(--padding) * 1));
  }
}

@media (max-width: 750px) {
  .nav-links-wrapper {
    position: fixed;
    left: -200%;
    top: 10rem;
    flex-direction: column;
    justify-content: center;
    gap: 4rem;
    width: 100%;
    height: calc(100vh - 10rem);
    background-color: #fff;
    text-align: center;
    transition: 0.3s;
    z-index: 1000;
  }

  .nav-links-wrapper.active {
    left: 0;
  }

  .hamburger-icon {
    display: block;
    font-size: 2.5rem;
    margin-right: 3rem;
  }

  .bag-order-count {
    left: 50%;
  }

  .order-container {
    grid-template-columns: 1fr;
    grid-template-areas:
      'box1'
      'box2';
  }

  .order-add-ons-container {
    width: 80vw;
    margin-inline: auto;
  }

  .check-out-info-container div {
    height: 100%;
    /* width: 100%; */
  }

  .location-info-wrapper {
    padding-block-end: 2rem;
  }

  .order-time-wrapper {
    padding-block-start: 2rem;
    padding-block-end: 2rem;
  }

  .promo-code-wrapper {
    padding-block-start: 2rem;
    padding-block-end: 2rem;
  }

  .order-total-wrapper {
    padding-block-start: 2rem;
    padding-block-end: 2rem;
  }

  .checkout-btn {
    width: 50%;
    margin-inline: auto;
  }
}

@media (max-width: 450px) {
  .hamburger-icon {
    font-size: 2rem;
  }
}

.hide {
  overflow: hidden;
}
